.main {
    position: relative;
    padding: 0 0 53px;
    background: url('../img/main/main-bg.jpg') 50% 50%/cover no-repeat;

    @media (max-width: 575px) {
        background: url('../img/main/main-bg.jpg') 45% 50%/cover no-repeat;
    }

    &__nav {
        @media (max-width: 991px) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 0.275em;
    }

    &__suptitle {
        margin-bottom: 1.5417em;
        
        @media (max-width: 575px) {
            width: 80%;
            margin: 0 auto .66em;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto calc(364vw/14.4);
        
        @media (min-width: 1440px) {
            margin: 0 auto 364px;
        }

        @media (max-width: 575px) {
            margin: 0 auto calc(175vw/3.2);
        }
        a { 
            position: relative;
            display: flex;
            justify-content: space-between;

            .line {
                position: absolute;
                top: 0;
                right: 4.1875em;
                width: 1px;
                height: 24px;
                background-color: $btn-text-color;
                opacity: .5;
    
                transform: matrix(1, 0, 0.04, 1, 0, 0);

                @media (max-width: 991px) {
                    height: 18px;
                    right: 3.78em;
                }
            }
        }
    }
}

.down {
    font-weight: 700;
    font-size: .75rem;
    line-height: 22/ 12 * 100%;

    text-transform: uppercase;
    a {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text-color; 

        margin: 0 auto;

        &:hover {
            svg {
                transform: scale(1.05);
            }
        }
        &:active {
            svg {
                transform: scale(1.15);
            }
        }
        span {
            display: block;
        }
        svg {
            width: 23px;
            height: 13px;
            fill: none;

            transition: transform .2s ease;
        }
    }
}