.quotes {
    position: relative;
    background: url('../img/quotes/quotes-bg.jpg') center center/cover no-repeat;
    padding: 160px 0 147px;

    @media (max-width: 991px) {
        padding: 120px 0 100px;
    }
    @media (max-width: 767px) {
        padding: 80px 0;
    }   

    &__grid {
        display: grid;
        grid-template: auto / calc(437/1200 * 100%) calc(597/1200 * 100%);
        grid-column-gap: 167/1200*100%;
        grid-row-gap: 30px;
        align-items: center;
        @media (max-width: 1199px) {
            grid-template: auto / calc(351/992 * 100%) calc(570/992 * 100%);
            grid-column-gap: 70/992 * 100%;
        }
        @media (max-width: 991px) {
            grid-template: 24.5fr repeat(3, 14.8fr)  / auto;
            grid-row-gap: 20px;
        }
        @media (max-width: 767px) {
            grid-template: 19.5fr repeat(3, 14.8fr)  / auto;
        }
        @media (max-width: 575px) {
            grid-template: auto  / auto;
        }
    }

    &__descr {
        grid-column: 1/2;
        grid-row: 1/4;

        @media (max-width: 991px) {
            grid-row: 1 / 2;
        }
        @media (max-width: 575px) {
            margin-bottom: 10px;
        }
    }

    &__suptitle {
        text-align: left;
        margin-bottom: .375em;
    }

    &__title {
        text-align: left;
        margin-bottom: .5em;
    }

    &__body {
        margin-bottom: 2.22em;
        @media (max-width: 991px) {
            text-align: justify;
        }
    }

    &__btn {
        @media (max-width: 991px) {
            display: block;
            margin: 0 auto;
        }
        @media (max-width: 575px) {
            width: 100%;
        }
        
    }
    
}