.body {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 122%;

    color: $text-color;

    @include adaptiv-font(1.125, 0.875);

    @media (min-width: 1440px) {
        font-size: 1.125rem;
    }

}