.header {
    display: grid;
    position: relative;
    grid-template: auto /  23fr 62fr 35fr;
    align-items: center;

    margin-bottom: calc(237vw/14.4);

    @media (min-width: 1440px) {
        margin-bottom: 237px;
    }

    @media (max-width: 1199px) {
        grid-template: auto / 12fr 75fr 28fr;
    }

    @media (max-width: 991px) {
        grid-template: auto / 1fr 1fr;
    }

    @media (max-width: 575px) {
        margin-bottom: calc(174vw/3.2);
    }
    

    &__logo {
        width: 55px;
        height: 55px;
        img {
            display: block;
            width: 100%;
            object-fit: contain;
        }

        @media (max-width: 575px) {
            width: 33px;
            height: 33px;
        }
    }
}