.title {
    font-family: 'BEBAS NEUE', Arial, Helvetica, sans-serif ;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.0375em;
    text-transform: uppercase;

    color: $text-color;

    @include adaptiv-font(5, 2);

    @media (min-width: 1440px) {
        font-size: 5rem;
    }

    &--color-main {
        color: $main-color;
        text-align: left;
        letter-spacing: .055em;

        @include adaptiv-font(2.25, 1.3125);

        @media (min-width: 1440px) {
            font-size: 2.25rem;
        }
    }

    &--cursor-p {
        cursor: pointer;
        transition: .6s ease;
    }

    &--fz-sm {
        @include adaptiv-font(1.5, 1.125);

        @media (min-width: 1440px) {
            font-size: 1.5rem;
        }
    }
}

.suptitle {
    font-family: 'BEBAS NEUE', Arial, Helvetica, sans-serif ;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0.0833em;
    text-align: center;

    color: #FFFFFF;

    @include adaptiv-font(1.5, 1.125);

    @media (min-width: 1440px) {
        font-size: 1.5rem;
    }
}